// utils
@import "./utils/variables";

// base
@import "./base/reset";
@import "./base/common";

// components

@import "./components/conteiner";
@import "./components/button-item";
@import "./components/button";
@import "./components/modal";
@import "./components/card";
@import "./components/socials";
@import "./components/subscription";
@import "./components/logo";

// layout
@import "./layout/heder";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/work";
@import "./layout/clients";
@import "./layout/team";
@import "./layout/form";
@import "./layout/portfolio";
@import "./layout/product";
@import "./layout/footer";
