.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
  padding-bottom: 94px;
  }
}

.benefits__list {
  display: flex;
  background-color: F5F4FA;
  flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    gap: 30px;

    @include tablet {
      flex-direction: row;
     flex-wrap: wrap; 
    justify-content: center;
    }
    @include desktop {
    flex-wrap: nowrap;
    }
}

.benefits__item {
  width: 100%;

@include tablet {
  width:calc((100% - 30px)/2);
}
@include desktop {
  width:calc((100% - 90px)/4);
}
}

.benefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
 height: 120px;
//  width: 450px;
 background-color: #F5F4FA;
 margin-bottom: 30px;
 margin-top: 0;
 @include tablet {
  width: 354px;
 }
 @include desktop {
  width: 270px;
 }
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: var(--main-title-color);
@include tablet {
 text-align: left;
 }
 @include desktop {
text-align: left;
 }
}

.benefits__text {
  // width: 450px;
  margin-top: 0;
     margin-bottom: 0;
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-title-color);
 
@include tablet {
  width: 354px;
 }
 @include desktop {
  margin-bottom: 0;
  width: 270px;
 }
}