.form {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
margin-left: auto;
margin-right: auto;
padding: 40px;
}

.form__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  display: block;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
margin-top: 10px;
}

.form__text {
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top: 0;
margin-bottom: 0;
}

.form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
appearance: none;
padding-left: 42px;
position: relative;
outline: none;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:focus {
 border: 1px solid #2196F3;
}
}

.form__input:hover,
 .form__input:focus,
 .form__comment:hover,
 .form__comment:focus {
 border: 1px solid #2196F3;
 outline: none;
}

.form__input:hover + .form__input::after,
.form__input:focus + .form__input::after {
  content: "";
  width: 16px;
  height: 1px;
   background-color: #303030;
  margin-left: 40px;
}

.form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 20px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
.form__input:focus + & {
   content: "";
  width: 16px;
  height: 1px;
   background-color: #303030;
  margin-left: 12px;
}
}

.form__field textarea::placeholder {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__input:hover + &,
.form__input:focus + & {
  fill: var(--accent-color);
}
}

 .placeholder {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
 }

.form__position-icon {
  position: relative;
}
.checkbox {
 display: inline-block;
  align-items: center;
 position: relative;
 margin-left: 13px;
 padding-left: 24px;
}

.checkbox__input {
 position: relative;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
 }

 .checkbox__icon {
  width: 16px;
  height: 15px;
  display: inline-block;
position: absolute;
background: var(--third-title-color);
top: 50%; 
left: 0;
transform: translateY(-50%);
background-image: url(../images/icons3.svg);
background-repeat: no-repeat;
background-size: contain;

.form__input:checked + & {
background-color: #2196F3;
background-size: contain;
background-image: url(../images/icon-policy.svg);
background-origin: border-box;
border-color: #2196F3;
}

.checkbox__input:checked + & {
background-color: var(--accent-color);
background-image: url(../images/icon-policy.svg);
background-size: contain;
background-origin: border-box;
background-color: #2196F3;
background-repeat: no-repeat;
border-radius: 2px;
}
}


.checkbox__text {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.checkbox__agree-link {
display: inline-block;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-left: 4px;
text-decoration-line: underline;
color: var(--accent-color);
}

