.nav {
display: flex;
align-items: center;
position: relative;
}


.menu-container {
  display: none;
  position: absolute;
  top: 100%;
}


.text {
color: #000000;
}

.contact__icon {
align-items: center;
margin-right: 10px;
fill: currentColor;
}


.nav__link:hover,
.nav__link:focus,
.contact__mail:hover,
.contact__mail:focus,
.contact__tel:hover,
.contact__tel:focus {
  color: var(--accent-color);
}


.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__link,
.contact__mail {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-title-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav__item:not(:last-child) {
  margin-right: 50px;
} 

.current {
  color: var(--accent-color);
   display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  &::after {
  content: '';
  display: block;
  width: 100%;
height: 4px;
margin-top: 28px;
position: absolute;
background: #2196F3;
border-radius: 2px;
opacity: 0;
transition: opacity 250ms var(--timing-function);
}
}

.nav__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;

&:hover::after {
  opacity: 1;
}
}

.contact__mail {
color: var(--second-title-color);
margin-right: 50px;
}

.contact__tel {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
  color: var(--second-title-color);
 margin-right: 10px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.header__button {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #FFFFFF;
}

.header__icon {
  width: 40px;
  height: 40px;
  padding-top: 12px;
  justify-content: center ;
  // fill: #212121;
  fill: currentColor; 
}

