.nav {
display: flex;
align-items: center;
height: 60px;
position: relative;
 @include tablet {
 height: 60px;
 }
@include desktop {
height: 80px;
}
}


.page-header {
border: 1px solid  #ECECEC;
}

.menu-container {
  display: none;

  @include tablet {
 display: inline-block;
 
}
@include desktop {
display: inline-block;
}
}


.text {
color: #000000;
}

.contact__icon {
align-items: center;
margin-right: 10px;
fill: currentColor;
}


.nav__link:hover,
.nav__link:focus,
.contact__mail:hover,
.contact__mail:focus,
.contact__tel:hover,
.contact__tel:focus {
  color: var(--accent-color);
}


.nav__list {
  display: flex;

  @include tablet {
margin-left: 88px;
margin-right: 84px;
  }
  @include desktop {
margin-left: 93px;
}
}

.nav__link,
.contact__mail {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-title-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav__item:not(:last-child) {
  margin-right: 50px;
} 

.current {
  color: var(--accent-color);
   display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  &::after {
  content: '';
  display: block;
  width: 100%;
height: 4px;
margin-top: 28px;
position: absolute;
background: #2196F3;
border-radius: 2px;
opacity: 0;
transition: opacity 250ms var(--timing-function);
}
}

.nav__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;

&:hover::after {
  opacity: 1;
}
}

.contact__mail {
color: var(--second-title-color);

@include tablet {   
  margin-right: 0;
  }
  @include desktop {
    margin-right: 50px;
}

}

.contact__tel {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
  color: var(--second-title-color);
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 @include tablet {
   margin-right: 0;
  }
  @include desktop {
    margin-right: 10px;
}
}

.contacts {
    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
  }
  @include desktop {
    margin-left: auto;
  display: flex;
  justify-content: center;
}
}

.contact__item {
    @include tablet {
      margin-left: auto;
  }
  @include desktop {
}

}

.header__button {
  display: block;
  margin-left: auto;
  padding-top: 10px;
  padding-left: 15px;
  border: none;

    @include tablet {
 display: none;
}
@include desktop {
display: none;
}
}

.header__icon {
  display: block;
align-items: center;
    width: 40px;
height: 40px;
padding-top: 5px;
border: none;
position: absolute;
top: 10px;
right: 15px;
background: #FFFFFF;

// &:hover .modal__icon {
//   fill: var(--accent-color);
// } 
}