.hero {
  background-color: #2F303A;
}

.hero__overlay {
  width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

   @include tablet {
    width: 768px;
  }

   @include desktop {
    width: 1600px;
  height: 600px;
   background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-picture.jpg);
  }
}

.hero__conteiner {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  
  @include desktop {
    padding-top: 200px;
  padding-bottom: 200px;
  }
}

.hero__title {
  // margin-top: 0;
  // margin-bottom: 0;
  margin: 0;
  padding-bottom: 30px;
  font-weight: 900;
font-size: 26px;
line-height: 1.61;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--third-title-color);

  @include desktop {
    font-size: 44px;
line-height: 1.36;
  }
}






