.hero {
  background-color: #2F303A;
}

.hero__overlay {
 width: 100%;
  height: 400px; 
  margin: 0 auto;
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-mob.jpg);

   @include retina {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-mob-2x.jpg);
  }

  @include tablet {
    width: 100%;
    max-width: 1199px;

background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-tab.jpg);

  @include retina {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-tab-2x.jpg);
  }
  }
  
  @include desktop {
    width: 100%;
    max-width: 1600px;
  height: 600px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-picture.jpg);

   @include retina {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-picture-2x.jpg);
  }
}
}

.hero__conteiner {
  text-align: center;
   padding-top: 118px;
  padding-bottom: 118px;
background-size: cover;
  @include desktop {
    padding-top: 200px;
  padding-bottom: 200px;  
}
}



.hero__title {
  // margin-top: 0;
  // margin-bottom: 0;
  margin: 0;
  padding-bottom: 30px;
  font-weight: 900;
font-size: 26px;
line-height: 1.61;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--third-title-color);

  @include desktop {
    font-size: 44px;
line-height: 1.36;
  }
}
