
.mob__menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
}


.container--mob {
  position: relative;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mob__icon {
    width: 18PX;
  height: 18PX;
 justify-content: center;
align-items: center;
fill: #000000;
fill: currentColor;
}

// .mob__icon,
// .mob__button {
//   width: 18PX;
//   height: 18PX;
//  justify-content: center;
// align-items: center;
// fill: #000000;
// fill: currentColor;
// transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.mob__button {
position: absolute;
top: 10;
left: 0;
 width: 18px;
  height: 18px;
 border: none;
    transform: translateX(100%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #fff;
}


.mob__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob__link--current {
     color: var(--accent-color);
     font-weight: 500;
font-size: 40px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.02em;
}

.mob__link {
    font-weight: 500;
font-size: 40px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.02em;
color: #212121;
}

.mob-contacts {
  margin-bottom: 64px;
}
.mob-contact__item {
  margin-bottom: 32px;
}
.mob-contact__mail {
  font-weight: 500;
font-size: 24px;
line-height: 1,17;
letter-spacing: 0.02em;
color: #757575;
}

.mob-contact__tel {
  font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #2196F3;
}

.mob__soc {
display: flex;
align-items: flex-end;
}

.mob__socials {
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
position: relative;
&:not(:last-child) {
  margin-right: 20px;
}
}

.mob__socials:not(:last-child)::after {
  content: "";
  position: absolute;
width: 1px;
height: 22px;
margin-left: 10px;
background-color:rgba(33, 33, 33, 0.2);
}


