.subscription {

  @include tablet {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-left: 151px;
    }
  @include desktop {
    display: flex;
  flex-direction: column;
      align-items: flex-start;
    position: absolute;
 right: 0; 
    }
}

.subscription_form {
  @include tablet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  }
   @include desktop {
display: flex;
  flex-direction: row;
}
}

.subscription__title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 12px;
@include desktop {
  margin-left: 0;
}
}

.subscription__input {
 border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 100%;
height: 50px;
background-color: transparent;
margin-bottom: 20px;
 padding: 15px;

 @include tablet {
  width: 450px;
 }
  @include desktop {
  width: 358px;
height: 50px;
margin-right: 12px;
margin-bottom: 0;
    }
}

.subscription__input-text{
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.6);

  @include desktop {
    font-size: 12px;
line-height: 1.17;
  }
}


.subscription__icon {
fill: var(--third-title-color);
margin-left: 10px;
position: absolute;
top: 0;
transform: translateY(50%);
}