:root {
  --main-title-color:#212121 ;
  --second-title-color: #757575;
  --third-title-color: #FFFFFF;;
  --accent-color: #2196F3; 
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}